<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <link rel="shortcut icon" href="#" />
        <meta charset="utf-8">
        <title>NLP Text analysis</title>
        <link
      href="https://fonts.googleapis.com/css?family=Alata|Open Sans:300&display=swap"
      rel="stylesheet"
    />
        <!-- <link rel="stylesheet" href="src/client/styles/resets.scss">
        <link rel="stylesheet" href="src/client/styles/base.scss">
        <link rel="stylesheet" href="src/client/styles/header.scss">
        <link rel="stylesheet" href="src/client/styles/form.scss">
        <link rel="stylesheet" href="src/client/styles/footer.scss"> -->
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <strong><h1>Welcome to the NLP text analysis!</h1></strong>
                <form class="form" onsubmit="return Client.handleSubmit(event)">
                    <textarea id="name" type="text" name="input" value="" placeholder="Paste your text here..."></textarea>
                    <input type="submit" name="" value="submit">
                </form>
            <section>

            <section>
                <strong><h2>Text analysis results:</h2></strong>
                <div id="results" style="overflow-x:auto;">
                    <table>
                        <tr>
                          <th>Criteria</th>
                          <th>Result</th>
                        </tr>
                        <tr>
                          <td>Is this text objective or subjective?</td>
                          <td id='subjectivity'></td>
                        </tr>
                        <tr>
                          <td>How confident is the analysis?</td>
                          <td id='confidence'></td>
                        </tr>
                        <tr>
                            <td>Is this text ironic?</td>
                            <td id='irony'></td>
                          </tr>
                      </table> 
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
